.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
.quarto
.quarto/**
_site
_site/**
/.quarto/
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
**test*
**tmp*
