*
!config
!config/*
!resources
!resources/*
!results
!results/*
!snakemake_profiles
!snakemake_profiles/**
!workflow/Snakefile
!**config.yaml
!**samples.tsv
!workflow
!workflow/**/*
!environment.yaml
!LICENSE
!README.md
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!**snakemake.sbatch
!**cluster-config.json
*.swp
